<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Детали</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/details.js"></script>
    <!-- Подключаем внешний JS -->
</head>
<body>

<div>
    <h1>Список деталей</h1>

    <ul id="detailsList">
        <!-- Динамически заполняемый список -->
    </ul>


    <div id="detailModal" style="display: none;">
        <h2>Детали</h2>
        <p id="detailInfo"></p>
        <button id="closeModal">Закрыть</button>
    </div>
</div>

</body>
</html>